body{
    background-image: url(galaxy.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
h1{
    text-align: left;
    text-decoration-color: blueviolet;
    color:blueviolet;
}
#pong{
    background-color: black;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    border-style: solid;
    border-color: purple;
    overflow: hidden;
}
.paddle{
    height: 20px;
    width: 100px;
    position: absolute;
}

#player-paddle{
    background-color:blue;
    top: 0;
}
#player2-paddle{
    background-color:Red;
    bottom: 0;
}
#ball{
    background-color:yellow;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 200px;
    top: 300px;
    border-radius: 50%;
}
#winner{
	background-color: #C52222;
	padding: 15px;
    cursor: pointer;
}
#restart_btn {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color:purple;
    color: white;
    font-size: 70px;
    border: none;
    display: none;
}
#score_div {
    margin-top: 50px;	
   text-align: center;
   font-size: 30px;
   font-family: sans-serif;
   color: white;
}